.dailyWeather h1 {
  margin-top: 0;
  text-align: center;
  padding: 20px;
  color: white;
}
.dailyWeather {
  padding-bottom: 50px;
}
.dayweather {
  display: grid;
  padding: 8px 2%;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: rgba(170, 105, 201, 0.6);
  border-radius: 20px;
  margin: 15px 10px;
}
.dailyWeather > div {
  text-align: center;
  align-content: center;
  align-items: center;
  font-size: 15px;
  color: white;
}
